@import "src/app/styles/variables";

.lottery-container {
  background-blend-mode: soft-light, soft-light, soft-light, hue;
  overflow: auto;
  height: 100vh;
  position: relative;
  padding: 44px 104px 0;

  &.small {
    padding: 32px 19px 0;

    .rainbow {
      border-width: 20vh;
    }

    .main .sub {
      width: 90%;
    }

    .main .instructions {
      margin-bottom: 24px;
    }

    .left-coin {
      left: -80px;
    }

    .right-coin {
      right: -95px;
    }
  }

  .d-none {
    display: none;
  }

  .stars {
    position: fixed;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);

    .random-wrapper {
      animation: y-axis 10s linear infinite;
      position: absolute;
      bottom: 0;

      .random {
        position: absolute;
        height: 20px;
        width: 20px;
        animation: rotation infinite 1.5s linear, star-animation 5s linear infinite, x-axis 4.9s ease-in-out infinite;

        .ripple {
          position: absolute;
          border: 2px solid #FFF;
          border-radius: 50%;
          animation: ripple 3s linear infinite;
          background: radial-gradient(#FFE500 40%, rgba(0, 0, 0, 0.3));

          &:nth-child(2) {
            border: none;
            animation: ripple-inner 2s linear infinite;
          }
        }
      }

      &:nth-child(2) {
        .random {
          animation: rotation infinite 1.5s linear, star-animation 5s linear infinite, x-axis 3.2s linear infinite;
        }
      }

      &:nth-child(3) {
        .random {
          animation: rotation infinite 1.5s linear, star-animation 5s linear infinite, x-axis 7.4s ease alternate infinite;
        }
      }

      &:nth-child(4) {
        .random {
          animation: rotation infinite 1.5s linear, star-animation 5s linear infinite, x-axis 6s ease-out alternate-reverse infinite;
        }
      }
    }

  }

  .right-coin, .left-coin {
    position: fixed;
    left: calc(0.5 * 100vw - 300px);
    bottom: 7vh;
    animation-delay: 1s;
    animation: leftCoinAnimation 3s ease-in-out infinite alternate;

    img {
      width: 157.83px;
      height: 181.71px;
    }
  }

  .right-coin {
    right: calc(0.5 * 100vw - 400px);
    bottom: 3vh;
    left: unset;
    animation: rightCoinAnimation 2.5s ease-in-out infinite alternate;

    img {
      width: 127.695px;
      height: 147.015px;
    }
  }

  .rays {
    position: fixed;
    bottom: -100px;
    width: 100%;
    height: 100%;
    left: 0;
    animation: rotation 25s linear infinite;
    transform-origin: bottom center;
    background-blend-mode: hue;

    .ray {
      position: absolute;
      height: 150%;
      bottom: 0;
      width: 149.81px;
      transform-origin: bottom center;
    }
  }

  .coin-pot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 2;
  }

  .top-overlay, .bottom-overlay {
    position: fixed;
    background: linear-gradient(180deg, #121214 -39.34%, rgba(18, 18, 20, 0) 72.48%);
    height: 69.2%;
    left: 0;
    top: 0;
    width: 100%;
  }

  .bottom-overlay {
    background: linear-gradient(180deg, #FFFFFF -39.34%, rgba(255, 255, 255, 0) 72.48%);
    height: 66.03%;
    transform: matrix(1, 0, 0, -1, 0, 0);
    bottom: 0;
    mix-blend-mode: overlay;
    top: unset;
  }

  .rainbow {
    border: 219px solid #FFFFFF;
    filter: blur(108px);
    mix-blend-mode: overlay;
    width: 89.375%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.2;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  .top {
    margin-bottom: 53px;
    width: 100%;
    mix-blend-mode: difference;

    * {
      z-index: 3;
    }

    .logo {
      width: 40px;
      height: 40px;
    }

    .time {
      mat-icon {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        width: 40px;
        height: 40px;
      }

      p {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);

        strong {
          font-size: 18px;
          font-weight: 700;
          color: #FFF;
        }
      }
    }
  }

  .main {
    color: #FFF;
    text-align: center;
    margin-bottom: 20vh;

    * {
      z-index: 3;
    }

    .cta-wrapper, .sub-wrapper {
      margin-bottom: 24px;
      overflow: hidden;

      h1, p {
        overflow: hidden;
      }
    }

    .cta {
      mix-blend-mode: hard-light;
      font-family: 'Poppins', sans-serif;
      font-size: calculateRem(70px);
      line-height: calculateRem(64px);
      margin: 0;

      strong {
        font-family: 'Poppins', sans-serif;
      }
    }

    .sub {
      mix-blend-mode: hard-light;
      font-weight: 400;
      font-size: calculateRem(29.4px);
      line-height: calculateRem(33px);
      margin: 0;
    }

    .instructions {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 44px;
      width: 29.51%;
      padding: 24px 27px;
      box-shadow: 0px -1px 11px 0px #FFFFFF2B inset;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
      border-radius: 8px;

      @media only screen and (max-width: 1271px) {
        width: 50%;
      }

      @media only screen and (max-width: 959px) {
        width: 70%;
      }

      @media only screen and (max-width: 599px) {
        width: 100%;
      }

      ol {
        text-align: start;
        padding-left: 20px;
      }

      ol, .catch-line, .idea {
        font-weight: 400;
        line-height: 22px;
        font-size: 14px;
      }

      .catch-line {
        margin-bottom: 16px;
        text-align: start;
      }

      .idea {
        font-size: 12px;
        line-height: 19px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 10px;

        mat-icon {
          width: 22px;
          height: 22px;
        }

        p {
          text-align: start;
          margin: 0;
        }
      }
    }

    button {
      color: #FFF;
      font-weight: 600;
      line-height: 17px;
      font-size: 14px;
      padding: 19.5px 16px;
      width: 225px;
      background: #ECAB03;

      mat-icon {
        margin-left: 20%;
      }
    }
  }
}

@keyframes rightCoinAnimation {
  50% {
    bottom: 7vh;
  }
}

@keyframes leftCoinAnimation {
  50% {
    bottom: 10vh;
  }
}

@keyframes rotation {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes star-animation {
  from {
    transform: scale(0.5, 0.5) rotate(360deg);
  }
  to {
    transform: scale(0.8, 0.8) rotate(0deg);
  }
}

@keyframes ripple {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0.03;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    width: 65px;
    height: 65px;
    opacity: 0.1;
  }
}

@keyframes ripple-inner {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0.03;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0.1;
  }
}

@keyframes x-axis {
  50% {
    transform: translateX(45px);
  }
}

@keyframes y-axis {
  0% {
    bottom: 0;
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    bottom: 50vh;
  }
}
